<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="timesheets" description="msg://com.company.timesheets/menu_config.timesheets.description"
          title="msg://com.company.timesheets/menu_config.timesheets.title">
        <item view="ts_Task.my" description="msg://com.company.timesheets/menu_config.ts_Task.my.description"
              title="msg://com.company.timesheets/menu_config.ts_Task.my.title"/>
        <item view="ts_TimeEntries.my"
              title="msg://com.company.timesheets.view.mytimeentrieslist/myTimeEntriesListView.title"/>
    </menu>
    <menu opened="true" id="projects" description="msg://com.company.timesheets/menu_config.projects.description"
          title="msg://com.company.timesheets/menu_config.projects.title">
        <item view="ts_Client.list" title="msg://com.company.timesheets.view.client/clientListView.title"/>
        <item view="ts_Project.list" title="msg://com.company.timesheets.view.project/projectListView.title"/>
        <item view="ts_TimeEntry.list" title="msg://com.company.timesheets.view.timeentry/timeEntryListView.title"/>
    </menu>
    <menu id="settings" description="msg://com.company.timesheets/menu_config.settings.description"
          title="msg://com.company.timesheets/menu_config.settings.title">
        <item view="ts_TaskType.list" title="msg://com.company.timesheets.view.tasktype/taskTypeListView.title"/>
        <item view="ts_ProjectRole.list"
              title="msg://com.company.timesheets.view.projectrole/projectRoleListView.title"/>
    </menu>
    <separator/>
    <menu id="administration" description="msg:///menu_config.administration.description"
          title="msg://com.company.timesheets/menu.application.title">
        <item view="ts_User.list" title="msg://com.company.timesheets.view.user/UserListView.title"/>
        <menu id="security" title="msg://com.company.timesheets/menu.security.title">
            <item view="sec_ResourceRoleModel.list"
                  title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
            <item view="sec_RowLevelRoleModel.list"
                  title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
        </menu>
        <menu id="datatools" title="msg://com.company.timesheets/menu.datatools.title">
            <item view="datatl_entityInspectorListView"
                  title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
        </menu>
    </menu>
</menu-config>